:root {
    --color-white: #fff;
    --color-lg: lightgray;
    --color-g: gray;
    --color-heading: rgb(51, 55, 66);
    --color-accent-pink: rgb(212,82,223);
    --color-accent-blue: rgba(19,15,170,1);
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-lg);
}

h3, h4 {
    margin-top: 0;

    color: var(--color-heading);
}

.left h4, p {
    color: var(--color-white);
}

.wrapper {
    width: 600px;

    display: flex;
}

.left img {
    width: 110px;
    height: 110px;

    margin-bottom: 60px;

    border-radius: 50%;

    object-fit: cover;
}

.left {
    width: 33%;
    min-width: 200px;

    padding-top: 30px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--color-accent-pink);
    background: linear-gradient(
        325deg,
        var(--color-accent-pink) 0%,
        var(--color-accent-blue) 100%
    );
}

.left p {
    display: block;
    width: min-content;
}

.right {
    width: 100%;

    padding: 30px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: var(--color-white);
}

.right h3 {
    display: block;

    padding-bottom: 10px;

    border-bottom: 2px solid var(--color-lg);

    text-transform: uppercase;
    letter-spacing: 3px;
}

.right .info .info_data {
    display: flex;
    gap: 20px;
}

.info_data .data h4, p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.info_data .data p {
    margin-top: 5px;

    color: var(--color-g);
}

.projects {
    margin-top: 40px;
}

.projects_data {
    display: flex;
    gap: 20px;
}

.projects_data .data h4, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.projects_data .data p {
    margin-top: 5px;

    color: var(--color-g);
}
.projects_data {
    display: flex;
    gap: 20px;
}

.data {
    width: 155px;
}

.social_media ul {
    margin: 0;
    margin-top: 10px;

    padding-right: 35px;

    display: flex;
    justify-content: flex-end;
    gap: 15px;

    list-style-type: none;
}

ul li {
    width: 45px;
    height: 45px;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-accent-pink);
    background: linear-gradient(
        325deg,
        var(--color-accent-pink) 0%,
        var(--color-accent-blue) 100%
    );

    cursor: pointer;
}

.fa-github, .fa-linkedin {
    color: var(--color-white);
}
